In [ ]:
### Let's build a convolutional neural network for the 3-label classification ###

In [3]:
# import modules
import pandas as pd
import numpy as np
import cv2 as cv
from IPython.display import clear_output
import matplotlib.pyplot as plt
from keras.layers import Activation, Conv3D, Dense, Flatten, MaxPool2D
from keras.models import Sequential
from keras.wrappers.scikit_learn import KerasClassifier
from keras.utils import np_utils
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline

In [4]:
training_data_csv = pd.read_csv('../merged_training_data.csv')
training_data_csv.head()

       image_id age_approximate     sex  melanoma  seborrheic_keratosis
0  ISIC_0000000              55  female       0.0                   0.0
1  ISIC_0000001              30  female       0.0                   0.0
2  ISIC_0000002              60  female       1.0                   0.0
3  ISIC_0000003              30    male       0.0                   0.0
4  ISIC_0000004              80    male       1.0                   0.0

In [6]:
# establish targets
for i,u in enumerate(training_data_csv['image_id']):
    if training_data_csv.loc[i,'melanoma'] == 0:
        if training_data_csv.loc[i,'seborrheic_keratosis'] == 1:
            training_data_csv.loc[i,'melanoma'] = 2
    else:
        continue
        
training_data_csv.head()

       image_id age_approximate     sex  melanoma  seborrheic_keratosis
0  ISIC_0000000              55  female       0.0                   0.0
1  ISIC_0000001              30  female       0.0                   0.0
2  ISIC_0000002              60  female       1.0                   0.0
3  ISIC_0000003              30    male       0.0                   0.0
4  ISIC_0000004              80    male       1.0                   0.0